.Home {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2;
  text-align: center;
  color: white;
}
.home {
  top: 80px;
  background-image: url("https://i.postimg.cc/Kj16QNbh/neightbord.jpg");
  margin-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.meetus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
  text-align: center;
}

.image-container {
  flex: 1;
  margin-right: 2rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 2;
}

.text-container h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.text-container p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}