body {
    overflow-x: hidden;

  }
  .services {
    background-image: url("https://i.postimg.cc/7LfjnCJx/nycimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    top: 70px;
    font-family: Georgia, serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

  }
  
  .cards {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    width: 47vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(61, 60, 60);  
  }
  
  .cards:nth-child(odd) {
    align-self: flex-end;
    background-color: rgb(61, 60, 60);  
}
  
  .cards-text {
    font-size: 28px;
    color: #fff;
  }
  .mini{
    margin-top: 10px;
    font-size: 20px;
}
  .listitems{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 90px;
  }
  .links{
    font-size: 23px;
    text-decoration: underline;
    color: inherit;

  }
  

  @media screen and (max-width: 450px) {
    .mini, .listitems, .cards-text{
      font-size: 17px;

    }
    .listitems{
      margin-left: 10px;
    }
    .cards{
      margin-top: 10px;
      width: 56vw;
      height: 62vh;
    }
  }